*{
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	height: 100%;
}
.Tab_tittle_wrap{
	width: 100%;
	height: 40px;
	margin-left: 2.5px;
}
.Tab_tittle{
	width: 33%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #282828;
	/*background-color: #0EFF26;*/
	display: inline-block;
}
.on_active{
	color: #282828;
	/*background-color: #FF260E;*/
	border-bottom:solid 10px #00796b;
}
.Tab_item_wrap{
	width: 100%;
	height: 100%;
}
.Tab_item{
	width: 100%;
	height: 100%;
	text-align: center;
	color: #282828;
	margin-top: 30px;
	display: none;
}

.Tab_title_link{
	text-decoration: none;
	color: #282828;
	font-size:19px;
}

.show{
	display: block;
}